<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593155184094-vujfa0occi3dv60f6c0i7eaeref7jt8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593155184094-vujfa0occi3dv60f6c0i7eaeref7jt8h</string>
	<key>API_KEY</key>
	<string>AIzaSyAvihkpat0b2WOgZ2a7_b9bZTnYWZfdLN8</string>
	<key>GCM_SENDER_ID</key>
	<string>593155184094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futureConnect.livFarm</string>
	<key>PROJECT_ID</key>
	<string>liv-farm</string>
	<key>STORAGE_BUCKET</key>
	<string>liv-farm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593155184094:ios:9aeb0fd500a1b23c24b94f</string>
	<key>DATABASE_URL</key>
	<string>https://liv-farm.firebaseio.com</string>
</dict>
</plist>